@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Poppins&display=swap");

:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  --at-apply: rounded-lg;
}

::-webkit-scrollbar-thumb {
  --at-apply: bg-orange-3 rounded-lg;
}

::-webkit-scrollbar-thumb:hover {
  --at-apply: bg-orange cursor-pointer;
}

body {
  --at-apply: bg-dark-50;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  --at-apply: font-500 text-dark-3;
}

h1 {
  --at-apply: text-5xl text-dark dark:text-white;
}

h2 {
  --at-apply: text-4xl text-dark dark:text-white;
}

h3 {
  --at-apply: text-3xl text-dark dark:text-white;
}

h4 {
  --at-apply: text-2xl text-dark dark:text-white;
}

h5 {
  --at-apply: text-xl text-dark dark:text-white;
}

h6 {
  --at-apply: text-lg text-dark dark:text-white;
}

a {
  --at-apply: text-orange-6 dark:text-orange-3;
}

p {
  --at-apply: text-dark dark:text-white;
}

.menu-link {
  --at-apply: text-orange-6 no-underline transition-all-500 rounded text-sm px-1 sm:(text-base px-3 py-1) hover:(bg-orange-6 text-white);
}

.menu-active {
  --at-apply: bg-orange-6 text-white;
}

.social {
  --at-apply: bg-gray-2 transition-all-500;
}

.code-block {
  --at-apply: bg-gray-3 dark:bg-dark-50 rounded p-2 my-4;
}
